*.vo
*.glob
*.v.d
*.aux
*.log

*.bst

coq/_CoqProject

foo.v

macros.tex

Makefile

*.mkd

old_species.tex

qg-fall03.pdf

*.make

*.bbl

*.blg

*.d

*.fls

*.out

species.tex
species.pdf


*.swp

*.temp
